.elementor-1382 .elementor-element.elementor-element-48a5f002 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 50px;
    --background-transition: 0.3s;
    --padding-top: 080px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1382 .elementor-element.elementor-element-42b5708e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 15px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1382 .elementor-element.elementor-element-49767d0a {
    text-align: right;
}

.elementor-1382 .elementor-element.elementor-element-49767d0a img {
    border-radius: 8px 8px 8px 8px;
}

body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-48a394b {
    right: 0px;
}

body.rtl .elementor-1382 .elementor-element.elementor-element-48a394b {
    left: 0px;
}

.elementor-1382 .elementor-element.elementor-element-48a394b {
    bottom: 0px;
    text-align: right;
}

.elementor-1382 .elementor-element.elementor-element-48a394b img {
    width: 72%;
    border-radius: 8px 8px 8px 8px;
}

.elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
    width: auto;
    max-width: auto;
    top: -51px;
    text-align: left;
}

.elementor-1382 .elementor-element.elementor-element-6a82dcb8.elementor-element {
    --align-self: flex-start;
}

body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
    left: -28px;
}

body.rtl .elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
    right: -28px;
}

.elementor-1382 .elementor-element.elementor-element-6a82dcb8 img {
    width: 45%;
}

.elementor-1382 .elementor-element.elementor-element-31ef00da {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 20px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1382 .elementor-element.elementor-element-1e7d2d0d {
    width: auto;
    max-width: auto;
    z-index: 1;
    text-align: center;
}

.elementor-1382 .elementor-element.elementor-element-1e7d2d0d.elementor-element {
    --align-self: flex-start;
}

.elementor-1382 .elementor-element.elementor-element-1e7d2d0d .elementor-heading-title {
    color: var(--e-global-color-821259b);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-1382 .elementor-element.elementor-element-8bbbd55 {
    text-align: left;
}

.elementor-1382 .elementor-element.elementor-element-8bbbd55 .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.elementor-1382 .elementor-element.elementor-element-2959ab6b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1382 .elementor-element.elementor-element-2959ab6b {
    color: var(--e-global-color-accent);
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(45px/2);
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(45px/2);
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(45px/2);
    margin-left: calc(45px/2);
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-45px/2);
    margin-left: calc(-45px/2);
}

body.rtl .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-45px/2);
}

body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-45px/2);
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d {
    --e-icon-list-icon-size: 18px;
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-item>a {
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px/2);
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px/2);
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}

body.rtl .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px/2);
}

body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-20px/2);
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1382 .elementor-element.elementor-element-352b24fa {
    --e-icon-list-icon-size: 18px;
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-item>a {
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142 .elementor-button {
    background-color: var(--e-global-color-primary);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    fill: var(--e-global-color-821259b);
    color: var(--e-global-color-821259b);
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: var(--e-global-color-primary);
    border-radius: 35px 35px 35px 35px;
    padding: 17px 35px 17px 35px;
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142 .elementor-button:hover,
.elementor-1382 .elementor-element.elementor-element-7c8bd142 .elementor-button:focus {
    background-color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142 {
    width: auto;
    max-width: auto;
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142.elementor-element {
    --align-self: flex-start;
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-1382 .elementor-element.elementor-element-7c8bd142 .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

@media(max-width:1024px) {
    .elementor-1382 .elementor-element.elementor-element-48a5f002 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 80px 0px;
        --padding-top: 080px;
        --padding-bottom: 0px;
        --padding-left: 18px;
        --padding-right: 18px;
    }

    .elementor-1382 .elementor-element.elementor-element-49767d0a {
        text-align: center;
    }

    .elementor-1382 .elementor-element.elementor-element-48a394b {
        width: auto;
        max-width: auto;
        bottom: 50px;
        text-align: right;
    }

    .elementor-1382 .elementor-element.elementor-element-48a394b.elementor-element {
        --align-self: flex-start;
    }

    body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-48a394b {
        right: 0px;
    }

    body.rtl .elementor-1382 .elementor-element.elementor-element-48a394b {
        left: 0px;
    }

    .elementor-1382 .elementor-element.elementor-element-48a394b img {
        width: 62%;
    }

    body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
        left: 31px;
    }

    body.rtl .elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
        right: 31px;
    }

    .elementor-1382 .elementor-element.elementor-element-1e7d2d0d .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-1382 .elementor-element.elementor-element-8bbbd55 .elementor-heading-title {
        font-size: 35px;
        line-height: 45px;
    }
}

@media(max-width:767px) {
    .elementor-1382 .elementor-element.elementor-element-48a5f002 {
        --gap: 50px 0px;
        --padding-top: 080px;
        --padding-bottom: 0px;
        --padding-left: 18px;
        --padding-right: 18px;
    }

    .elementor-1382 .elementor-element.elementor-element-42b5708e {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
        left: -23px;
    }

    body.rtl .elementor-1382 .elementor-element.elementor-element-6a82dcb8 {
        right: -23px;
    }

    .elementor-1382 .elementor-element.elementor-element-31ef00da {
        --gap: 10px 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-1382 .elementor-element.elementor-element-1e7d2d0d .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-1382 .elementor-element.elementor-element-8bbbd55 .elementor-heading-title {
        font-size: 34px;
    }

    .elementor-1382 .elementor-element.elementor-element-2959ab6b {
        font-size: 16px;
    }

    .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(12px/2);
        margin-left: calc(12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-12px/2);
        margin-left: calc(-12px/2);
    }

    body.rtl .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-12px/2);
    }

    body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1382 .elementor-element.elementor-element-64f45a0d .elementor-icon-list-item>a {
        font-size: 16px;
    }

    .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(12px/2);
        margin-left: calc(12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-12px/2);
        margin-left: calc(-12px/2);
    }

    body.rtl .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-12px/2);
    }

    body:not(.rtl) .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-12px/2);
    }

    .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-1382 .elementor-element.elementor-element-352b24fa .elementor-icon-list-item>a {
        font-size: 16px;
    }

    .elementor-1382 .elementor-element.elementor-element-7c8bd142>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-1382 .elementor-element.elementor-element-7c8bd142.elementor-element {
        --order: 99999
            /* order end hack */
        ;
    }

    .elementor-1382 .elementor-element.elementor-element-7c8bd142 .elementor-button {
        font-size: 15px;
        padding: 016px 028px 016px 028px;
    }
}

@media(min-width:768px) {
    .elementor-1382 .elementor-element.elementor-element-42b5708e {
        --width: 50%;
    }

    .elementor-1382 .elementor-element.elementor-element-31ef00da {
        --width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1382 .elementor-element.elementor-element-42b5708e {
        --width: 100%;
    }

    .elementor-1382 .elementor-element.elementor-element-31ef00da {
        --width: 100%;
    }
}

/* Start custom CSS for button, class: .elementor-element-7c8bd142 */
.my-animated-button .elementor-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.35s;
}

.my-animated-button .elementor-button:hover {
    transition: all 0.35s !important;
}


.my-animated-button .elementor-button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -100%;
    width: 125%;
    height: 125%;
    background: linear-gradient(to top,
            rgba(229, 172, 142, 0),
            rgba(255, 255, 255, 0.7) 50%,
            rgba(229, 172, 142, 0));

    transform: rotate(45deg);
    z-index: 0;
    animation: wave-animation 2.5s infinite linear;
    pointer-events: none;
}

.my-animated-button .elementor-button span,
.my-animated-button .elementor-button .elementor-button-icon {
    position: relative;
    z-index: 2;
}

@keyframes wave-animation {
    0% {
        top: -50%;
        left: -100%;
    }

    50% {
        top: 0%;
        left: 0%;
    }

    100% {
        top: 50%;
        left: 100%;
    }
}

.my-animated-button .elementor-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-48a5f002 */
.abt-img img {
    object-fit: cover !important;
    height: 530px;
}

/* End custom CSS */
/* Start custom CSS */
.style-1 {
    color: var(--e-global-color-primary);
}

.subtitle p {
    position: relative;
    line-height: 30px;
    padding: 0px 14px;
    margin: 0px !important;
    z-index: 9999 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.subtitle p::before {
    position: absolute;
    content: '';
    height: 100%;
    background: var(--e-global-color-primary);
    width: 100%;
    z-index: -1;
    left: 0;
    border-radius: 30px;
}

.counter-section .subtitle p {
    color: black !important;
}

.counter-section .subtitle p::before {
    background: white;
}

@media (max-width: 576px) {
    .elementor-icon-list-items.elementor-inline-items {
        gap: 10px !important;
    }


}

/* End custom CSS */