.elementor-kit-8 {
  --e-global-color-primary: #0431B8;
  --e-global-color-secondary: #007CFB;
  --e-global-color-text: #6B0AF3;
  --e-global-color-accent: #000000;
  --e-global-color-821259b: #FFFFFF;
  --e-global-color-a8f4f38: #000E39DE;
  --e-global-typography-primary-font-family: "Poppins";
  --e-global-typography-primary-font-size: 55px;
  --e-global-typography-primary-font-weight: 700;
  --e-global-typography-secondary-font-family: "Poppins";
  --e-global-typography-secondary-font-size: 45px;
  --e-global-typography-secondary-font-weight: 700;
  --e-global-typography-text-font-family: "Poppins";
  --e-global-typography-text-font-size: 28px;
  --e-global-typography-text-font-weight: 600;
  --e-global-typography-accent-font-family: "Rubik";
  --e-global-typography-accent-font-size: 16px;
  --e-global-typography-accent-font-weight: 400;
  color: var(--e-global-color-accent);
  font-size: 16px;
}

.elementor-kit-8 e-page-transition {
  background-color: #FFBC7D;
}

.elementor-kit-8 a {
  color: var(--e-global-color-accent);
}

.elementor-kit-8 a:hover {
  color: var(--e-global-color-primary);
}

.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1140px;
}

.e-con {
  --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

  {}

h1.entry-title {
  display: var(--page-title-display);
}

.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}

.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

@media(max-width:1024px) {
  .elementor-kit-8 {
    --e-global-typography-primary-font-size: 44px;
    --e-global-typography-secondary-font-size: 40px;
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1024px;
  }

  .e-con {
    --container-max-width: 1024px;
  }
}

@media(max-width:767px) {
  .elementor-kit-8 {
    --e-global-typography-primary-font-size: 36px;
    --e-global-typography-secondary-font-size: 34px;
    --e-global-typography-text-font-size: 20px;
    --e-global-typography-accent-font-size: 16px;
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 767px;
  }

  .e-con {
    --container-max-width: 767px;
  }
}