.elementor-50 .elementor-element.elementor-element-93bea14 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: var(--e-global-color-primary);
    --border-color: var(--e-global-color-primary);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-93bea14:not(.elementor-motion-effects-element-type-background),
.elementor-50 .elementor-element.elementor-element-93bea14>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-93bea14,
.elementor-50 .elementor-element.elementor-element-93bea14::before {
    --border-transition: 0.3s;
}

.elementor-50 .elementor-element.elementor-element-7b11443 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 14px 14px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-2163da7 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-stacked .elementor-icon {
    color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-default .elementor-icon:hover {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-2163da7.elementor-view-default .elementor-icon:hover svg {
    fill: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-2163da7 .elementor-icon {
    font-size: 20px;
    padding: 7px;
}

.elementor-50 .elementor-element.elementor-element-2163da7 .elementor-icon svg {
    height: 20px;
}

.elementor-50 .elementor-element.elementor-element-07e720b {
    color: var(--e-global-color-821259b);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-50 .elementor-element.elementor-element-b5be14f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 14px 14px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-82d8f91 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-stacked .elementor-icon {
    color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-default .elementor-icon:hover {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-82d8f91.elementor-view-default .elementor-icon:hover svg {
    fill: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-82d8f91 .elementor-icon {
    font-size: 20px;
    padding: 7px;
}

.elementor-50 .elementor-element.elementor-element-82d8f91 .elementor-icon svg {
    height: 20px;
}

.elementor-50 .elementor-element.elementor-element-b67511f {
    color: var(--e-global-color-821259b);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-50 .elementor-element.elementor-element-d59873d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 14px 14px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-c775f82 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-stacked .elementor-icon {
    color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-default .elementor-icon:hover {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-c775f82.elementor-view-default .elementor-icon:hover svg {
    fill: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-c775f82 .elementor-icon {
    font-size: 20px;
    padding: 7px;
}

.elementor-50 .elementor-element.elementor-element-c775f82 .elementor-icon svg {
    height: 20px;
}

.elementor-50 .elementor-element.elementor-element-1f34481 {
    color: var(--e-global-color-821259b);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-50 .elementor-element.elementor-element-6b3fd35 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 14px 14px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-95691d7 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-stacked .elementor-icon {
    color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-default .elementor-icon:hover {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-framed .elementor-icon:hover,
.elementor-50 .elementor-element.elementor-element-95691d7.elementor-view-default .elementor-icon:hover svg {
    fill: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-95691d7 .elementor-icon {
    font-size: 20px;
    padding: 7px;
}

.elementor-50 .elementor-element.elementor-element-95691d7 .elementor-icon svg {
    height: 20px;
}

.elementor-50 .elementor-element.elementor-element-0ee3ade {
    color: var(--e-global-color-821259b);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-50 .elementor-element.elementor-element-784a485 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: none;
    --border-style: none;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999;
}

.elementor-50 .elementor-element.elementor-element-784a485:not(.elementor-motion-effects-element-type-background),
.elementor-50 .elementor-element.elementor-element-784a485>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-50 .elementor-element.elementor-element-784a485,
.elementor-50 .elementor-element.elementor-element-784a485::before {
    --border-transition: 0.3s;
}

.elementor-50 .elementor-element.elementor-element-7a11bf2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-1d947c3>.elementor-widget-container {
    --e-transform-scale: 1.065;
    margin: 0px 0px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-1d947c3 {
    text-align: center;
}

.elementor-50 .elementor-element.elementor-element-1d947c3 img {
    width: 100%;
    max-width: 100%;
}

.elementor-50 .elementor-element.elementor-element-f833353 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #1236FF0F;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu .elementor-item {
    font-family: "Rubik", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-item:hover,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-menu-toggle {
    color: var(--e-global-color-accent);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-821259b);
    border-radius: 5px 5px 5px 5px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a:hover,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a.highlighted,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-menu-toggle:hover {
    color: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a:hover,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-821259b);
    background-color: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown .elementor-item,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 0px 10px 0px rgba(207.75, 206.8467391304348, 206.8467391304348, 0.4);
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown a {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #D8D7D7;
    border-bottom-width: 1px;
}

.elementor-50 .elementor-element.elementor-element-24e3298 div.elementor-menu-toggle {
    color: var(--e-global-color-accent);
}

.elementor-50 .elementor-element.elementor-element-24e3298 div.elementor-menu-toggle svg {
    fill: var(--e-global-color-accent);
}

.elementor-50 .elementor-element.elementor-element-24e3298 div.elementor-menu-toggle:hover {
    color: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-24e3298 div.elementor-menu-toggle:hover svg {
    fill: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-7133375 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 0px;
}

.elementor-50 .elementor-element.elementor-element-39a83ab .elementor-button {
    background-color: var(--e-global-color-primary);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    fill: var(--e-global-color-821259b);
    color: var(--e-global-color-821259b);
    border-radius: 35px 35px 35px 35px;
    padding: 18px 36px 18px 36px;
}

.elementor-50 .elementor-element.elementor-element-39a83ab .elementor-button:hover,
.elementor-50 .elementor-element.elementor-element-39a83ab .elementor-button:focus {
    background-color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-accent);
}

.elementor-50 .elementor-element.elementor-element-39a83ab .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-50 .elementor-element.elementor-element-39a83ab .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-50 .elementor-element.elementor-element-b0b0132 {
    --display: flex;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-color: var(--e-global-color-primary);
    --border-color: var(--e-global-color-primary);
}

.elementor-50 .elementor-element.elementor-element-b0b0132,
.elementor-50 .elementor-element.elementor-element-b0b0132::before {
    --border-transition: 0.3s;
}

.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button {
    background-color: var(--e-global-color-821259b);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: var(--e-global-color-primary);
    border-radius: 35px 35px 35px 35px;
    padding: 17px 35px 17px 35px;
}

.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button:hover,
.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button:focus {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-821259b);
    border-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button:hover svg,
.elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button:focus svg {
    fill: var(--e-global-color-821259b);
}

.elementor-50 .elementor-element.elementor-element-e8bc360 .elementor-button {
    background-color: var(--e-global-color-primary);
    font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    fill: var(--e-global-color-821259b);
    color: var(--e-global-color-821259b);
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: var(--e-global-color-primary);
    border-radius: 35px 35px 35px 35px;
    padding: 17px 35px 17px 35px;
}

.elementor-50 .elementor-element.elementor-element-e8bc360 .elementor-button:hover,
.elementor-50 .elementor-element.elementor-element-e8bc360 .elementor-button:focus {
    background-color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-e8bc360 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-50 .elementor-element.elementor-element-e8bc360 .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

@media(max-width:1024px) {
    .elementor-50 .elementor-element.elementor-element-93bea14 {
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 018px;
        --padding-right: 018px;
    }

    .elementor-50 .elementor-element.elementor-element-7b11443 {
        --justify-content: flex-start;
    }

    .elementor-50 .elementor-element.elementor-element-b5be14f {
        --justify-content: center;
    }

    .elementor-50 .elementor-element.elementor-element-6b3fd35 {
        --justify-content: flex-end;
    }

    .elementor-50 .elementor-element.elementor-element-784a485 {
        --justify-content: space-between;
        --padding-top: 16px;
        --padding-bottom: 016px;
        --padding-left: 018px;
        --padding-right: 018px;
    }

    .elementor-50 .elementor-element.elementor-element-f833353 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-end;
    }

    .elementor-50 .elementor-element.elementor-element-24e3298 {
        --nav-menu-icon-size: 32px;
    }
}

@media(max-width:767px) {
    .elementor-50 .elementor-element.elementor-element-93bea14 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --gap: 0px 0px;
        --padding-top: 010px;
        --padding-bottom: 010px;
        --padding-left: 018px;
        --padding-right: 018px;
    }

    .elementor-50 .elementor-element.elementor-element-7b11443 {
        --width: 50%;
    }

    .elementor-50 .elementor-element.elementor-element-07e720b {
        font-size: 20px;
    }

    .elementor-50 .elementor-element.elementor-element-b5be14f {
        --width: 48%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
        --gap: 5px 0px;
    }

    .elementor-50 .elementor-element.elementor-element-82d8f91 .elementor-icon {
        font-size: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-82d8f91 .elementor-icon svg {
        height: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-b67511f {
        text-align: center;
        font-size: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-d59873d {
        --width: 50%;
    }

    .elementor-50 .elementor-element.elementor-element-1f34481 {
        font-size: 20px;
    }

    .elementor-50 .elementor-element.elementor-element-6b3fd35 {
        --width: 48%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
        --gap: 5px 0px;
    }

    .elementor-50 .elementor-element.elementor-element-95691d7 .elementor-icon {
        font-size: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-95691d7 .elementor-icon svg {
        height: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-0ee3ade {
        text-align: center;
        font-size: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-784a485 {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 18px;
        --padding-right: 18px;
    }

    .elementor-50 .elementor-element.elementor-element-7a11bf2 {
        --width: 65%;
    }

    .elementor-50 .elementor-element.elementor-element-1d947c3 img {
        width: 100%;
    }

    .elementor-50 .elementor-element.elementor-element-f833353 {
        --width: 25%;
    }

    .elementor-50 .elementor-element.elementor-element-24e3298 {
        --nav-menu-icon-size: 40px;
    }

    .elementor-50 .elementor-element.elementor-element-7133375 {
        --width: 33%;
    }

    .elementor-50 .elementor-element.elementor-element-39a83ab .elementor-button {
        font-size: 16px;
    }

    .elementor-50 .elementor-element.elementor-element-b0b0132 {
        --gap: 12px 12px;
        border-width: 0px 0px 1px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 1px;
        --border-left-width: 0px;
        --padding-top: 012px;
        --padding-bottom: 012px;
        --padding-left: 018px;
        --padding-right: 018px;
    }

    .elementor-50 .elementor-element.elementor-element-f753c42 .elementor-button {
        font-size: 15px;
        padding: 8px 0px 8px 0px;
    }

    .elementor-50 .elementor-element.elementor-element-e8bc360 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-50 .elementor-element.elementor-element-e8bc360 .elementor-button {
        font-size: 15px;
        padding: 8px 0px 8px 0px;
    }
}

@media(min-width:768px) {
    .elementor-50 .elementor-element.elementor-element-7a11bf2 {
        --width: 20%;
    }

    .elementor-50 .elementor-element.elementor-element-f833353 {
        --width: 60%;
    }

    .elementor-50 .elementor-element.elementor-element-7133375 {
        --width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-50 .elementor-element.elementor-element-7a11bf2 {
        --width: 40%;
    }

    .elementor-50 .elementor-element.elementor-element-f833353 {
        --width: 20%;
    }
}

/* Start custom CSS for icon, class: .elementor-element-2163da7 */
.elementor-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-07e720b */
.text-editor-p p strong:hover {
    transition: 0.3s;
}

.text-editor-p p strong {
    transition: 0.3s;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7b11443 */
.upper-header-cont-1:hover .text-editor-p strong {
    color: #fff;
}

/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-82d8f91 */
.elementor-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-b67511f */
.text-editor-p p strong:hover {
    transition: 0.3s;
}

.text-editor-p p strong {
    transition: 0.3s;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b5be14f */
.upper-header-cont-2:hover .text-editor-p strong {
    color: #fff;
}

/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-c775f82 */
.elementor-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-1f34481 */
.text-editor-p p strong:hover {
    color: #fff;
    transition: 0.3s;
}

.text-editor-p p strong {
    transition: 0.3s;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d59873d */
.upper-header-cont-3:hover .text-editor-p strong {
    color: #fff;
}

/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-95691d7 */
.elementor-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-0ee3ade */
.text-editor-p p strong:hover {
    color: #007cfb;
    transition: 0.3s;
}

.text-editor-p p strong {
    transition: 0.3s;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6b3fd35 */
.upper-header-cont-4:hover .text-editor-p strong {
    color: #fff;
}

/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-24e3298 */
#wp-menu-header a {
    transition: all 0.3s;
}

#wp-menu-header a:hover {
    transition: all 0.3s;
}

.elementor-menu-toggle .e-font-icon-svg {
    height: 0.6em !important;
    width: 0.6em !important;
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-39a83ab */
.my-animated-button .elementor-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.35s;
}

.my-animated-button .elementor-button:hover {
    transition: all 0.35s !important;
}


.my-animated-button .elementor-button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -100%;
    width: 125%;
    height: 125%;
    background: linear-gradient(to top,
            rgba(229, 172, 142, 0),
            rgba(255, 255, 255, 0.7) 50%,
            rgba(229, 172, 142, 0));

    transform: rotate(45deg);
    z-index: 0;
    animation: wave-animation 2.5s infinite linear;
    pointer-events: none;
}

.my-animated-button .elementor-button span,
.my-animated-button .elementor-button .elementor-button-icon {
    position: relative;
    z-index: 2;
}

@keyframes wave-animation {
    0% {
        top: -50%;
        left: -100%;
    }

    50% {
        top: 0%;
        left: 0%;
    }

    100% {
        top: 50%;
        left: 100%;
    }
}

.my-animated-button .elementor-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-f753c42 */
.my-animated-button-2 .elementor-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #ffffff;
    color: #007cfb;
    border: 2px solid #007cfb;
    transition: all 0.35s ease;
}

.my-animated-button-2 .elementor-button:hover {
    background: #007cfb;
    color: #ffffff;
    transition: all 0.35s ease;
}

.my-animated-button-2 .elementor-button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -100%;
    width: 125%;
    height: 125%;
    background: linear-gradient(to top,
            rgba(0, 124, 251, 0),
            rgba(0, 124, 251, 0.3) 50%,
            rgba(0, 124, 251, 0));
    transform: rotate(45deg);
    z-index: 0;
    animation: wave-animation 2.5s infinite linear;
    pointer-events: none;
}

.my-animated-button-2 .elementor-button span,
.my-animated-button-2 .elementor-button .elementor-button-icon {
    position: relative;
    z-index: 2;
}

@keyframes wave-animation {
    0% {
        top: -50%;
        left: -100%;
    }

    50% {
        top: 0%;
        left: 0%;
    }

    100% {
        top: 50%;
        left: 100%;
    }
}

.my-animated-button-2 .elementor-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-e8bc360 */
.my-animated-button .elementor-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.35s;
}

.my-animated-button .elementor-button:hover {
    transition: all 0.35s !important;
}


.my-animated-button .elementor-button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -100%;
    width: 125%;
    height: 125%;
    background: linear-gradient(to top,
            rgba(229, 172, 142, 0),
            rgba(255, 255, 255, 0.7) 50%,
            rgba(229, 172, 142, 0));

    transform: rotate(45deg);
    z-index: 0;
    animation: wave-animation 2.5s infinite linear;
    pointer-events: none;
}

.my-animated-button .elementor-button span,
.my-animated-button .elementor-button .elementor-button-icon {
    position: relative;
    z-index: 2;
}

@keyframes wave-animation {
    0% {
        top: -50%;
        left: -100%;
    }

    50% {
        top: 0%;
        left: 0%;
    }

    100% {
        top: 50%;
        left: 100%;
    }
}

.my-animated-button .elementor-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-btn .elementor-button-wrapper .elementor-button {
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;

}

/* End custom CSS */
/* Start custom CSS */
.sub-menu {
    height: 480px;
    overflow-y: scroll;
}

.elementor-sticky--active {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px, rgba(0, 0, 0, 0.24) 0px 1px 10px;
}


.text-editor-p p {
    margin: 0px !important;
}

.elementor-button {
    line-height: 16px;
}

.style-1 {
    color: var(--e-global-color-primary);
}

.page-p .text-editor-p p strong:hover {
    color: #000000;
    transition: 0.3s;
}

.subtitle p {
    position: relative;
    line-height: 30px;
    padding: 0px 14px;
    margin: 0px !important;
    z-index: 9999 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.subtitle p::before {
    position: absolute;
    content: '';
    height: 100%;
    background: var(--e-global-color-primary);
    width: 100%;
    z-index: -1;
    left: 0;
    border-radius: 30px;
}

@media (max-width: 576px) {
    .page-img img {
        height: 320px !important;
    }

    .page-img-2 img {
        height: 320px !important;
    }

    .why-img img {
        height: 390px !important;
    }

    .abt-img img {
        height: 390px !important;
    }

    h1.elementor-heading-title {
        font-size: 36px !important;
    }

    .e-parent.e-con .my-animated-button .elementor-button {
        padding: 016px 028px 016px 28px !important;
    }
}

/* For Webkit-based browsers (Chrome, Edge, Safari) */
.sub-menu::-webkit-scrollbar {
    width: 8px;
    /* Slim scrollbar width */
}

.sub-menu::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Background of the scrollbar track */
    border-radius: 10px;
}

.sub-menu::-webkit-scrollbar-thumb {
    background: var(--e-global-color-primary);
    /* Scrollbar thumb color using CSS variable */
    border-radius: 50px;
    /* Rounded corners for pipe-like style */
}



/* For Firefox */
.sub-menu {
    scrollbar-width: thin;
    scrollbar-color: var(--e-global-color-primary) #f0f0f0;
}

.page-p {
    --row-gap: 20px !important;
}

/* End custom CSS */