.elementor-419 .elementor-element.elementor-element-2a78209a:not(.elementor-motion-effects-element-type-background),
.elementor-419 .elementor-element.elementor-element-2a78209a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #121B2B;
}

.elementor-419 .elementor-element.elementor-element-2a78209a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 20px 0px;
}

.elementor-419 .elementor-element.elementor-element-2a78209a>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-419 .elementor-element.elementor-element-5fad9eb8 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.elementor-419 .elementor-element.elementor-element-66fc7503>.elementor-widget-container {
  margin: 0px 0px 12px 0px;
}

.elementor-419 .elementor-element.elementor-element-66fc7503 .elementor-heading-title {
  font-family: var(--e-global-typography-6008311-font-family), Sans-serif;
  font-size: var(--e-global-typography-6008311-font-size);
  font-weight: var(--e-global-typography-6008311-font-weight);
  line-height: var(--e-global-typography-6008311-line-height);
  color: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-5607b5bd {
  --icon-box-icon-margin: 15px;
}

.elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title {
  margin-bottom: 0px;
  color: #CFDEEB;
}

.elementor-419 .elementor-element.elementor-element-5607b5bd.elementor-view-stacked .elementor-icon {
  background-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-5607b5bd.elementor-view-framed .elementor-icon,
.elementor-419 .elementor-element.elementor-element-5607b5bd.elementor-view-default .elementor-icon {
  fill: #FF5316;
  color: #FF5316;
  border-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon {
  font-size: 20px;
}

.elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title,
.elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title a {
  font-family: var(--e-global-typography-62ab1dc-font-family), Sans-serif;
  font-size: var(--e-global-typography-62ab1dc-font-size);
  font-weight: var(--e-global-typography-62ab1dc-font-weight);
  line-height: var(--e-global-typography-62ab1dc-line-height);
}

.elementor-419 .elementor-element.elementor-element-6dee6615 {
  --icon-box-icon-margin: 15px;
}

.elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title {
  margin-bottom: 0px;
  color: #CFDEEB;
}

.elementor-419 .elementor-element.elementor-element-6dee6615.elementor-view-stacked .elementor-icon {
  background-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-6dee6615.elementor-view-framed .elementor-icon,
.elementor-419 .elementor-element.elementor-element-6dee6615.elementor-view-default .elementor-icon {
  fill: #FF5316;
  color: #FF5316;
  border-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon {
  font-size: 20px;
}

.elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title,
.elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title a {
  font-family: var(--e-global-typography-62ab1dc-font-family), Sans-serif;
  font-size: var(--e-global-typography-62ab1dc-font-size);
  font-weight: var(--e-global-typography-62ab1dc-font-weight);
  line-height: var(--e-global-typography-62ab1dc-line-height);
}

.elementor-419 .elementor-element.elementor-element-7b9ee3a4 {
  --icon-box-icon-margin: 15px;
}

.elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title {
  margin-bottom: 0px;
  color: #CFDEEB;
}

.elementor-419 .elementor-element.elementor-element-7b9ee3a4.elementor-view-stacked .elementor-icon {
  background-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-7b9ee3a4.elementor-view-framed .elementor-icon,
.elementor-419 .elementor-element.elementor-element-7b9ee3a4.elementor-view-default .elementor-icon {
  fill: #FF5316;
  color: #FF5316;
  border-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon {
  font-size: 20px;
}

.elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title,
.elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title a {
  font-family: var(--e-global-typography-62ab1dc-font-family), Sans-serif;
  font-size: var(--e-global-typography-62ab1dc-font-size);
  font-weight: var(--e-global-typography-62ab1dc-font-weight);
  line-height: var(--e-global-typography-62ab1dc-line-height);
}

.elementor-419 .elementor-element.elementor-element-2060192 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 18px;
  --grid-row-gap: 0px;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-widget-container {
  text-align: left;
}

.elementor-419 .elementor-element.elementor-element-2060192>.elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-social-icon {
  background-color: #0F1624;
  --icon-padding: 0.9em;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-social-icon i {
  color: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-social-icon svg {
  fill: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-social-icon:hover {
  background-color: #FF5316;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-social-icon:hover i {
  color: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-2060192 .elementor-social-icon:hover svg {
  fill: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-6985e4b0>.elementor-widget-container {
  margin: 0px 0px 10px 0px;
}

.elementor-419 .elementor-element.elementor-element-6985e4b0 .elementor-heading-title {
  font-family: var(--e-global-typography-6008311-font-family), Sans-serif;
  font-size: var(--e-global-typography-6008311-font-size);
  font-weight: var(--e-global-typography-6008311-font-weight);
  line-height: var(--e-global-typography-6008311-line-height);
  color: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-1c95ad19 {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em;
  color: #CFDEEB;
}

.elementor-419 .elementor-element.elementor-element-5788bbcd>.elementor-widget-container {
  margin: 0px 0px 10px 0px;
}

.elementor-419 .elementor-element.elementor-element-5788bbcd .elementor-heading-title {
  font-family: var(--e-global-typography-6008311-font-family), Sans-serif;
  font-size: var(--e-global-typography-6008311-font-size);
  font-weight: var(--e-global-typography-6008311-font-weight);
  line-height: var(--e-global-typography-6008311-line-height);
  color: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-1cb8baa6 {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em;
  color: #CFDEEB;
}

.elementor-419 .elementor-element.elementor-element-18f4105b>.elementor-widget-container {
  margin: 0px 0px 10px 0px;
}

.elementor-419 .elementor-element.elementor-element-18f4105b .elementor-heading-title {
  font-family: var(--e-global-typography-6008311-font-family), Sans-serif;
  font-size: var(--e-global-typography-6008311-font-size);
  font-weight: var(--e-global-typography-6008311-font-weight);
  line-height: var(--e-global-typography-6008311-line-height);
  color: #FFFFFF;
}

.elementor-419 .elementor-element.elementor-element-7b72d244>.elementor-widget-container {
  margin: 0px 0px -10px 0px;
}

.elementor-419 .elementor-element.elementor-element-7b72d244 {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em;
  color: #CFDEEB;
}

.elementor-419 .elementor-element.elementor-element-7899c891 {
  --divider-border-style: solid;
  --divider-color: #47505F;
  --divider-border-width: 1px;
}

.elementor-419 .elementor-element.elementor-element-7899c891 .elementor-divider-separator {
  width: 100%;
}

.elementor-419 .elementor-element.elementor-element-7899c891 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}

.elementor-419 .elementor-element.elementor-element-c530db9 {
  text-align: center;
}

.elementor-419 .elementor-element.elementor-element-c530db9 .elementor-heading-title {
  font-family: var(--e-global-typography-62ab1dc-font-family), Sans-serif;
  font-size: var(--e-global-typography-62ab1dc-font-size);
  font-weight: var(--e-global-typography-62ab1dc-font-weight);
  line-height: var(--e-global-typography-62ab1dc-line-height);
  color: #CFDEEB;
}

@media(max-width:1024px) {
  .elementor-419 .elementor-element.elementor-element-1566dcbb>.elementor-element-populated {
    padding: 0px 40px 0px 40px;
  }

  .elementor-419 .elementor-element.elementor-element-66fc7503 .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title,
  .elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title a {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title,
  .elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title,
  .elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-6985e4b0 .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-5788bbcd .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-18f4105b .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-c530db9 .elementor-heading-title {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }
}

@media(max-width:767px) {
  .elementor-419 .elementor-element.elementor-element-1566dcbb>.elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }

  .elementor-419 .elementor-element.elementor-element-66fc7503 {
    text-align: left;
  }

  .elementor-419 .elementor-element.elementor-element-66fc7503 .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-wrapper {
    text-align: left;
  }

  .elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title,
  .elementor-419 .elementor-element.elementor-element-5607b5bd .elementor-icon-box-title a {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-wrapper {
    text-align: left;
  }

  .elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title,
  .elementor-419 .elementor-element.elementor-element-6dee6615 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-wrapper {
    text-align: left;
  }

  .elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title,
  .elementor-419 .elementor-element.elementor-element-7b9ee3a4 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-2060192 .elementor-widget-container {
    text-align: left;
  }

  .elementor-419 .elementor-element.elementor-element-2060192>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-419 .elementor-element.elementor-element-6985e4b0 {
    text-align: left;
  }

  .elementor-419 .elementor-element.elementor-element-6985e4b0 .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-5788bbcd .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-18f4105b .elementor-heading-title {
    font-size: var(--e-global-typography-6008311-font-size);
    line-height: var(--e-global-typography-6008311-line-height);
  }

  .elementor-419 .elementor-element.elementor-element-c530db9 .elementor-heading-title {
    font-size: var(--e-global-typography-62ab1dc-font-size);
    line-height: var(--e-global-typography-62ab1dc-line-height);
  }
}

@media(min-width:768px) {
  .elementor-419 .elementor-element.elementor-element-3e1626c0 {
    width: 27.946%;
  }

  .elementor-419 .elementor-element.elementor-element-6ff880fe {
    width: 15.552%;
  }

  .elementor-419 .elementor-element.elementor-element-1a3be96c {
    width: 26.48%;
  }

  .elementor-419 .elementor-element.elementor-element-33a995a {
    width: 30%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-419 .elementor-element.elementor-element-3e1626c0 {
    width: 50%;
  }

  .elementor-419 .elementor-element.elementor-element-6ff880fe {
    width: 50%;
  }

  .elementor-419 .elementor-element.elementor-element-1a3be96c {
    width: 50%;
  }

  .elementor-419 .elementor-element.elementor-element-33a995a {
    width: 50%;
  }
}