.elementor-418 .elementor-element.elementor-element-32db9b1f:not(.elementor-motion-effects-element-type-background),
.elementor-418 .elementor-element.elementor-element-32db9b1f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #121B2B;
}

.elementor-418 .elementor-element.elementor-element-32db9b1f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 00px 0px 0px 0px;
}

.elementor-418 .elementor-element.elementor-element-32db9b1f>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-532a1732.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-532a1732.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-41ce2878>.elementor-widget-container {
  padding: 10px 0px 10px 0px;
}

.elementor-418 .elementor-element.elementor-element-41ce2878 .elementor-heading-title {
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-272250e0.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-272250e0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-272250e0.elementor-column>.elementor-widget-wrap {
  justify-content: space-evenly;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-487721e6.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-487721e6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-62f20784.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-62f20784.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-2f434af8 .elementor-heading-title {
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-414ac7c0.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-414ac7c0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-414ac7c0.elementor-column>.elementor-widget-wrap {
  justify-content: space-evenly;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 18px;
  --grid-row-gap: 0px;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-widget-container {
  text-align: left;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-social-icon {
  background-color: #FFFFFF00;
  --icon-padding: 0.1em;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-social-icon i {
  color: #FFFFFF;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-social-icon svg {
  fill: #FFFFFF;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-social-icon:hover {
  background-color: #0E0D1400;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-social-icon:hover i {
  color: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-social-icon:hover svg {
  fill: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-1f28a9d {
  padding: 15px 0px 15px 0px;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-77deadac.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-77deadac.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-74e2a9fb {
  text-align: left;
}

.elementor-418 .elementor-element.elementor-element-74e2a9fb img {
  width: 240px;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-76d68462.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-76d68462.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-792b8c72.ekit-equal-height-enable,
.elementor-418 .elementor-element.elementor-element-792b8c72.ekit-equal-height-enable>div,
.elementor-418 .elementor-element.elementor-element-792b8c72.ekit-equal-height-enable .ekit-wid-con,
.elementor-418 .elementor-element.elementor-element-792b8c72.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
  height: 100%;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox {
  background-color: #95343400;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox .elementskit-info-box-title {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
  color: #656565;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox:hover .elementskit-info-box-title {
  color: #656565;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox .box-body>p {
  color: #121B2B;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox:hover .box-body>p {
  color: #121B2B;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox p {
  margin: 0px 0px 0px 15px;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-info-box-icon {
  color: #FF5316;
  fill: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox .elementskit-info-box-icon {
  font-size: 35px;
  padding: 0px 0px 0px 0px;
  transform: rotate(0deg);
}

.elementor-418 .elementor-element.elementor-element-792b8c72 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
  margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-11025ee5.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-11025ee5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-19453111.ekit-equal-height-enable,
.elementor-418 .elementor-element.elementor-element-19453111.ekit-equal-height-enable>div,
.elementor-418 .elementor-element.elementor-element-19453111.ekit-equal-height-enable .ekit-wid-con,
.elementor-418 .elementor-element.elementor-element-19453111.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
  height: 100%;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox {
  background-color: #95343400;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox .elementskit-info-box-title {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
  color: #656565;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox:hover .elementskit-info-box-title {
  color: #656565;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox .box-body>p {
  color: #121B2B;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox:hover .box-body>p {
  color: #121B2B;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox p {
  margin: 0px 0px 0px 15px;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-info-box-icon {
  color: #FF5316;
  fill: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox .elementskit-info-box-icon {
  font-size: 35px;
  padding: 0px 0px 0px 0px;
  transform: rotate(0deg);
}

.elementor-418 .elementor-element.elementor-element-19453111 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
  margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-371fe1b7.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-371fe1b7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881.ekit-equal-height-enable,
.elementor-418 .elementor-element.elementor-element-1f3a4881.ekit-equal-height-enable>div,
.elementor-418 .elementor-element.elementor-element-1f3a4881.ekit-equal-height-enable .ekit-wid-con,
.elementor-418 .elementor-element.elementor-element-1f3a4881.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
  height: 100%;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox {
  background-color: #95343400;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox .elementskit-info-box-title {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  color: #656565;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox:hover .elementskit-info-box-title {
  color: #656565;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox .box-body>p {
  color: #121B2B;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox:hover .box-body>p {
  color: #121B2B;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox p {
  margin: 0px 0px 0px 10px;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-info-box-icon {
  color: #FF5316;
  fill: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox .elementskit-info-box-icon {
  font-size: 35px;
  padding: 0px 0px 0px 0px;
  transform: rotate(0deg);
}

.elementor-418 .elementor-element.elementor-element-1f3a4881 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
  margin: 0px 0px 0px 0px;
}

.elementor-418 .elementor-element.elementor-element-24957ccc:not(.elementor-motion-effects-element-type-background),
.elementor-418 .elementor-element.elementor-element-24957ccc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

.elementor-418 .elementor-element.elementor-element-24957ccc {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #E4E4E4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
}

.elementor-418 .elementor-element.elementor-element-24957ccc>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-67f79cfb.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-67f79cfb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-67f79cfb.elementor-column>.elementor-widget-wrap {
  justify-content: flex-end;
}

.elementor-418 .elementor-element.elementor-element-67f79cfb>.elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

body:not(.rtl) .elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
  margin-right: 25px;
}

body.rtl .elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
  margin-left: 25px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
  margin-bottom: 25px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu {
  border-radius: 0px 0px 0px 0px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu li.menu-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu li.menu-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown {
  border-radius: 0px 0px 0px 0px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li.menu-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li.menu-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible {
  border-radius: 0px 0px 0px 0px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li.menu-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li.menu-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 ul.sub-menu {
  width: 220px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu a.hfe-sub-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu__toggle {
  margin-right: auto;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 a.hfe-sub-menu-item {
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu a.hfe-sub-menu-item {
  color: #121B2B;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-menu-item:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-menu-item.highlighted,
.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item a.hfe-menu-item:focus {
  color: #FF5316;
  background-color: #FFFFFF;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
  background-color: #61CE7000;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
  background-color: unset;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-418 .elementor-element.elementor-element-50c10b90 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
  border-color: #61CE7000;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 .menu-item.current-menu-ancestor a.hfe-menu-item {
  color: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu a.hfe-sub-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 .elementor-menu-toggle,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
  color: #121B2B;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
  background-color: #FFFFFF;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 .elementor-menu-toggle:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
  color: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown .menu-item.current-menu-item a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown .menu-item.current-menu-ancestor a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active {
  color: #FF5316;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu li a.hfe-sub-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.elementor-418 .elementor-element.elementor-element-50c10b90 .sub-menu li.menu-item:not(:last-child),
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
  border-bottom-style: none;
}

.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-287873be.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-287873be.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-418 .elementor-element.elementor-element-287873be.elementor-column>.elementor-widget-wrap {
  justify-content: space-evenly;
}

.elementor-418 .elementor-element.elementor-element-287873be>.elementor-element-populated {
  padding: 0px 10px 0px 10px;
}

.elementor-418 .elementor-element.elementor-element-4794977f .elementor-button {
  background-color: #FF5316;
  font-family: "Hind Vadodara", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 30px 20px 30px;
}

@media(max-width:1024px) {
  .elementor-418 .elementor-element.elementor-element-532a1732>.elementor-element-populated {
    padding: 0px 0px 0px 40px;
  }

  .elementor-418 .elementor-element.elementor-element-74e2a9fb img {
    width: 160px;
  }

  .elementor-418 .elementor-element.elementor-element-24957ccc {
    padding: 20px 10px 50px 10px;
  }

  body:not(.rtl) .elementor-418 .elementor-element.elementor-element-50c10b90.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 0px;
  }

  body .elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media(min-width:768px) {
  .elementor-418 .elementor-element.elementor-element-532a1732 {
    width: 29.123%;
  }

  .elementor-418 .elementor-element.elementor-element-272250e0 {
    width: 24.298%;
  }

  .elementor-418 .elementor-element.elementor-element-487721e6 {
    width: 24.999%;
  }

  .elementor-418 .elementor-element.elementor-element-62f20784 {
    width: 7.35%;
  }

  .elementor-418 .elementor-element.elementor-element-414ac7c0 {
    width: 14.199%;
  }

  .elementor-418 .elementor-element.elementor-element-77deadac {
    width: 32.016%;
  }

  .elementor-418 .elementor-element.elementor-element-76d68462 {
    width: 28.015%;
  }

  .elementor-418 .elementor-element.elementor-element-11025ee5 {
    width: 16.157%;
  }

  .elementor-418 .elementor-element.elementor-element-371fe1b7 {
    width: 23.762%;
  }

  .elementor-418 .elementor-element.elementor-element-67f79cfb {
    width: 75.002%;
  }

  .elementor-418 .elementor-element.elementor-element-287873be {
    width: 24.998%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-418 .elementor-element.elementor-element-532a1732 {
    width: 45%;
  }

  .elementor-418 .elementor-element.elementor-element-272250e0 {
    width: 10%;
  }

  .elementor-418 .elementor-element.elementor-element-487721e6 {
    width: 10%;
  }

  .elementor-418 .elementor-element.elementor-element-62f20784 {
    width: 11%;
  }

  .elementor-418 .elementor-element.elementor-element-414ac7c0 {
    width: 20%;
  }

  .elementor-418 .elementor-element.elementor-element-77deadac {
    width: 20%;
  }

  .elementor-418 .elementor-element.elementor-element-76d68462 {
    width: 35%;
  }

  .elementor-418 .elementor-element.elementor-element-11025ee5 {
    width: 20%;
  }

  .elementor-418 .elementor-element.elementor-element-371fe1b7 {
    width: 25%;
  }

  .elementor-418 .elementor-element.elementor-element-67f79cfb {
    width: 50%;
  }

  .elementor-418 .elementor-element.elementor-element-287873be {
    width: 50%;
  }
}

@media(max-width:767px) {
  .elementor-418 .elementor-element.elementor-element-32db9b1f {
    padding: 0px 0px 0px 0px;
  }

  .elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-532a1732.elementor-column .elementor-widget-wrap {
    align-items: center;
  }

  .elementor-418 .elementor-element.elementor-element-532a1732.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }

  .elementor-418 .elementor-element.elementor-element-532a1732>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }

  .elementor-418 .elementor-element.elementor-element-41ce2878 {
    text-align: center;
  }

  .elementor-418 .elementor-element.elementor-element-62f20784 {
    width: 45%;
  }

  .elementor-418 .elementor-element.elementor-element-2f434af8 {
    text-align: center;
  }

  .elementor-418 .elementor-element.elementor-element-414ac7c0 {
    width: 50%;
  }

  .elementor-418 .elementor-element.elementor-element-bd7c0c9 .elementor-widget-container {
    text-align: center;
  }

  .elementor-418 .elementor-element.elementor-element-bd7c0c9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-418 .elementor-element.elementor-element-74e2a9fb {
    text-align: center;
  }

  .elementor-418 .elementor-element.elementor-element-24957ccc {
    padding: 10px 10px 20px 10px;
  }

  .elementor-418 .elementor-element.elementor-element-67f79cfb {
    width: 20%;
  }

  body:not(.rtl) .elementor-418 .elementor-element.elementor-element-50c10b90.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 0px;
  }

  body .elementor-418 .elementor-element.elementor-element-50c10b90 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }

  .elementor-418 .elementor-element.elementor-element-287873be {
    width: 80%;
  }
}